[user]
	name = hewigovens
	email = 360470+hewigovens@users.noreply.github.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIAspCvw2cjlYtJFByfGvvgVz7BftVWtQBYLFe1EuDIU4

[push]
	default = current

[pull]
	ff = only

[init]
	defaultBranch = master

[color]
	ui = true

[core]
	editor = vim
	ignorecase = false
	excludesfile = ~/.gitignore

[commit]
	gpgsign = true

[gpg]
	format = ssh	

[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign

[merge]
	tool = vscode

[mergetool "vscode"]
	cmd = code --wait $MERGED

[diff]
    #tool = vscode
    tool = difftastic
	external = difft

[difftool]
    prompt = false

[difftool "difftastic"]
    cmd = difft "$LOCAL" "$REMOTE"
    
[difftool "vscode"]
	cmd = "code --wait --diff $LOCAL $REMOTE"

[pager]
	difftool = true
    #diff = delta
    #log = delta
    #reflog = delta
    #show = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    features = side-by-side line-numbers decorations
    whitespace-error-style = 22 reverse

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none

[alias]
    set-upstream = \
	required = true
	clean = git-lfs clean -- %f
