[user]
	name = hewigovens
	email = 360470+hewigovens@users.noreply.github.com
	signingkey = ~/.ssh/sign_ed25519

[push]
	default = current

[pull]
	ff = only

[submodule]
	recurse = true

[init]
	defaultBranch = main

[color]
	ui = true

[core]
	editor = vim
	ignorecase = false
	excludesfile = ~/.gitignore
	fsmonitor = true
	untrackedCache = true
	splitIndex = true
	attributesFile = ~/.gitattributes

[commit]
	gpgsign = true

[gpg]
	format = ssh

[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed_signers

[merge]
	tool = mergiraf
	conflictStyle = diff3

[mergetool "mergiraf"]
	cmd = mergiraf solve "$MERGED"

[mergetool "vscode"]
	cmd = code --wait $MERGED

[diff]
	tool = difftastic
	external = difft --display inline

[difftool]
	prompt = false

[difftool "difftastic"]
	cmd = difft "$LOCAL" "$REMOTE"

[difftool "vscode"]
	cmd = "code --wait --diff $LOCAL $REMOTE"

[pager]
	difftool = true

[alias]
	set-upstream = \
		!git branch \
		--set-upstream-to=origin/$(git symbolic-ref --short HEAD)

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[url "git@github.com:"]
	insteadOf = https://github.com/

[rerere]
	enabled = true
	autoupdate = true
[merge "mergiraf"]
	name = mergiraf
	driver = mergiraf merge --git %O %A %B -s %S -x %X -y %Y -p %P -l %L
