# macOS
.DS_Store
*~

# Vim
.netrwhist
*.swp
undodir/

# VSCode
.vscode/
.run/
.history/
.env

# Xcode
xcuserdata/

# node
node_modules/

# gradle
*.gradle/
local.properties

# rust
target/

# git
*.orig

.aider*
